<div class="updateList" *ngIf="selectedList">
    <h3>Update List</h3>
    <div class="listName">
        <h4>
            <input id="name" [(ngModel)]="selectedList.listName" placeholder="List Name">
        </h4>
    </div>
    <div class="list">
        <label for="list">{{selectedList.nestedList}}</label>
        <input id="list" [(ngModel)]="selectedList.nestedList" placeholder="List">
        <!-- Button below is trying to pass the value from the input field into the list.  Not working. -->
        <!-- <button (click)='onAddListItem(selectedList.list)'>Add List Item</button> -->
    </div>
</div>