<div>
    <h2>My Lists</h2>
    <button class="add" (click)="onAddList()">+Add List</button>
    <ul class="listNames">
        <li *ngFor="let item of mainList"
            (click)="onSelect(item)"
            [class.selected]="item === selectedList">
            <span class="lists"
                >{{item.listName}}
                <button (click)='onDelete(item)'>X</button>
            </span>
        </li>
    </ul>
</div>
<!-- I want to add onSelect() into the app-sub-list below, but how do
    I pass the data (item in this case) into that component? -->
<app-sub-list *ngIf="selectedList" [list]="selectedList"></app-sub-list>
<div *ngIf="addList">
    <h3>New List Name</h3>
    <label for="listName">{{addList.listName}}</label>
    <input id="name" [(ngModel)]="addList.listName" placeholder="List Name">
    <button (click)='onCloseNewAddition()'>Add Item</button>
</div>
